.Footer__container {
    position: relative;
    background: #1d1d1d;
    color: #fec303;   
    position: relative; 
    clear: both;
    /* margin-top: 100px; */
    padding: 20px;
    z-index: -2;
}

.Footer__links_list {
    list-style: none;
    display: flex; 
    flex-wrap: wrap;
    margin: auto;
    padding-left: 0px;
    justify-content: center;
    margin: 0px;
}

.Footer__links_list li {
    text-align: center;
    z-index: 1;
}

.Footer__links_list a {
    text-decoration: none;
    color: #fec303;
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    padding: 20px 20px;
}

.Footer__links_list li:hover {
    color: white;
    cursor: pointer;
}

.Footer__about {
    position: relative;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    color: white;
    padding-bottom: 12px;
}

.Footer__contact_info {
    display: flex;
    list-style: none;
    padding-left: 0;
    padding: 10px 0px;
    flex-direction: column;
}

.Footer__contact_info li{
    display: flex;
    margin: auto;
    margin: 10px auto;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

.Footer__logo {
    border: 2px solid #fec303;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    margin: auto;
    padding: 5px;
}

.Footer__logo { 
    text-decoration: none;
}

@media(max-width: 650px) {
    .Footer__container {
        padding-top: 50px;
    }

    .Footer__links_list {
        flex-direction: row;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .Footer__links_list {
        margin-bottom: 20px;
    }

    .Footer__links_list a {
        margin-right: 0px;
    }

    .Footer__links_list li {
        margin:10px 0px;
        text-align: center;
        padding-bottom: 6px;
        margin: 0px 8px;
    }
}