.CategoryTag__tag {
    padding: 5px;
    border: 0px solid #dcdee4;
    /* border-left: 2px solid #fec303; */
    background: #1d1d1d;
    color: #fec303;
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 7px;
    /* margin-bottom: 12px; */  
    /* height: 20px; */
    font-family: 'Open Sans', sans-serif;
    -webkit-transition : all 500ms ease-out;
    -moz-transition : all 500ms ease-out;
    -o-transition : all 500ms ease-out;
    transition : all 500ms ease-out;
    font-family: 'Fredoka One', cursive;

}