.HomeTopBox__container {
    position: relative;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 50px;
    padding-top: 0px;
    box-sizing: border-box;
    color: #414141;
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;    
    margin: auto;
    min-height: 100vh;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1550866405-14d7cbb5dcda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=0');
    background-size: cover;
    background-position: top;
    z-index: -2;
    padding-bottom: 200px;
    padding-top: 40px;
}

.HomeTopBox-inner {
    max-width: 800px;
}

.HomeTopBox__container h1{
    color: white;
    animation: slideInLeft 8s infinite;
    transform: translate3d(-100%);
    transition-delay: 500ms;
    animation: slideInLeft 1.5s ease;
}

.HomeTopBox__container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background: #1d1d1d;
    z-index: -1;
    opacity: .8;
}

.HomeTopBox__container p {
    margin: 0px;
}

.HomeTopBox__quote {
    position: relative;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fec303;
    margin: 0px; 
    padding: 0px;
    animation: slideInLeft 1.5s ease;
    transform: translate3d(-100%);
    transition-delay: 100ms;
}

@keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

.HomeTopBox__quote_text {
    text-align: left;
    text-align: center;
    font-size: 42px;
}

.HomeTopBox__cite {
    font-size: 18px;
    color: #fec303;
    text-align: center;
    transition-property: all;
    animation: slideInLeft 1.5s ease 10ms;

}


@media(max-width: 550px) {
    .HomeTopBox__quote_text {
        font-size: 32px;
    }
}
