body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: lightgrey; */
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 62.5%;
}

.hide {
  display: none;
  opacity: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;   
}

.center {
  text-align: auto;
  left: 50%;
  transform: translateX(-50%);
}

button {
  border: 0px;
}

p {
    color: #414141;
    font-family: 'Open Sans', sans-serif;
    line-height: 2.8rem;
    font-size: 1.6rem;
}

h1 {
  font-size: 4rem; 
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
  color: #333;
  font-weight: 100;
  line-height: 6rem;
}

h2 {
  color: #333;
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
  font-size: 2.8rem; 
  font-weight: 100;
  line-height: 3.2rem;
}

h3 {
  font-size: 2rem;
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;  
  font-weight: 100;
  line-height: 2.4rem;
  color: #333;
}

.header-h3 {
  background: #1d1d1d;
  padding: 10px;
  border-radius: 10px;
  color: #fec303;
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;  
  font-size: 2rem;
  font-weight: 100;
}




.center-txt {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ANIMATIONS */

@keyframes slideInleft {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}

@keyframes slideInRight {
  from {
      margin-right: -100%;
      width: 300%;
  }

  to {
      margin-right: 0%;
      width: 100%;
  }
}
