.HomeAbout__container {
    text-align: center;
    box-sizing: border-box;
    position: relative;
}


.HomeAbout__container  p {
    padding: 16px;
    max-width: 600px;
    text-align: center;
    margin: auto;
    font-size: 1.8rem;
}

