.ProfBars__wrapper {
    margin-bottom: 50px;
}

.ProfBars-bar {
    background-image: linear-gradient(#333, rgb(37, 37, 37));
    border-radius: 30px;
    height: 30px;
    width: 80%;
    max-width: 650px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    box-shadow: 1px 0px 2px #111;
    position: relative;
    z-index: -1;
}

.ProfBars-bar p {
    font-family: 'Fredoka One', Arial, Helvetica;
    background-image: linear-gradient(#fec303, #ffc401ce);
    position: absolute;
    height: 28px;
    border-radius: 30px;
    padding: 0px;
    margin: 0px;
    color: #333;
    box-shadow: 1px 0px 1px #666;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transform: translateX(1px);
}

.ProfBars-bar::before {
    content: '';
    width: 20px;
    height: 10px;
    border-radius: 30px;
    position: absolute;
    right: 3px;
    margin-top: 1px;
    transform: rotate(50deg);
}


