
.Dashboard__post-controls {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Dashboard__post-controls img {
  height: 15px;
  margin-right: 10px;
}

.Dashboard__post-controls a, .Dashboard__post-controls > button {
  text-decoration: none;
  border: 1px solid rgb(218, 218, 218);
  border-bottom: 0px;
  flex: 1;
  text-align: center;
  padding: 10px;
  color: #414141;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  border-right: 0px;
}

.Dashboard__post-controls a:hover {
  background: rgb(218, 218, 218);
}

.Dashboard__post-controls button:hover {
  background: rgb(218, 218, 218);
  cursor: pointer;
}

.Dashboard__post-controls a:last-child {
  border-right: 0px;
}

.Dashboard__post-controls a:first-child {
  border-left: 0px;
}
