.Logo_container {
    position: absolute;
    top: 10px;
    height: 50px;
    width: 50px;
    z-index: 100;
    border-radius: 50%;
    margin-left: 20px;
    z-index: inherit;
    fill: #fec303;
    transition: all ease 1s;
}

.Logo__svg {
    transform: scale(1.1);
}

.Logo_container.scaleLogo {
    background: #fec303;
    height: 75px;
    width: 75px;
    margin-top: 19px;
    fill: #1d1d1d;
    box-shadow: 1px 5px 10px -2px rgba(1,1,1, .9);

}

@media(max-width: 600px) {
    .Logo_container.scaleLogo {
        background: #1d1d1d;
        fill: #fec303;
        height: 50px;
        width: 50px;
        margin-top: 0px;   
    }
}


