.RecentPosts__container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RecentPosts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


