/* MODAL FOR VIEWING WORK INFO */
.WorkModal__container {
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 7px;
    height: 80%;
    width: 80%;
    transform: translate(-50%, -50%); 
    border-radius: 7px;
    transition: all ease-in 1s;
    overflow: scroll;
    text-align: left;
}

.WorkModal__container p {
    text-align: left;
}

.WorkModal__container a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1.6rem;
    color: #fec303;
    font-weight: bold;
}

.BorderModal_container img {
    border-radius: 7px;
}

.WorkModal__container {
    padding: 0px;
}

.WorkModal__header-img {
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 7px 7px 0px 0px;

}

.WorkModal__inner-wrapper {
    padding: 20px;
    overflow: scroll;
}

.WorkModal__inner-wrapper h2 {
    margin-bottom: -10px;
    padding-bottom: 0px;
}

.WorkModal__inner-wrapper p:first-of-type {
    color: rgba(65, 65, 65, .5);
    border-bottom: 1px solid rgba(65, 65, 65, .1);
    padding-bottom: 20px;
    text-transform: uppercase;
}

.WorkModal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.WorkModal-close img {
    height: 20px;
    width: 20px;
}

.WorkModal-close:hover {
    cursor: pointer;
}