.SideBar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0px;
    background: #1d1d1d;
    z-index: 11;
    overflow: hidden;
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    box-sizing: border-box;
    /* box-shadow: 5px -5px 10px rgba(1,1,1, .6); */
    box-shadow: -2px 0px 20px rgba(1,1,1, 0.5);
}

.SideBar.open {
    width: 300px;
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.SideBar ul {
    list-style: none;
    margin-top: 100px;
}


.SideBar li a {
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    line-height: 3em;
    text-decoration: none;
    color: #fec303;
}

.SideBar li:hover {
    color: white;
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: .300ms ease-in-out;
}


.SideBar li:hover::before {
    content: "--";
    color: #1d1d1d;
}



