.WorkCard__container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 4px 2px 10px rgba(1,1,1,.1);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WorkCard__container:hover {
    cursor: pointer;
}

.WorkCard__container span::before {
    content: '';
    position: absolute;
    background: #e5bb30;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
    z-index: 1;
    transform: translate3d(0px, 0px, 0px);
    opacity: .6;
    transition: all .5s ease;

}

.WorkCard__container:hover span::before {
    opacity: .3;
    left: 0;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
    border-radius: 50%;
}


.WorkCard__info-wrapper {
    display: block;
    text-align: center;
    z-index: 2;
}

.WorkCard__info-wrapper h1 {
    color: white;
}


