.FullPost__container {
    height: 100%;
    max-width: 750px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #414141;
    font-family: 'Open Sans', sans-serif;
    line-height: 2.8rem;
    font-size: 1.6rem;
    padding: 0px 20px;
    position: relative;
}

.FullPost__container img {
    margin: 20px auto;
    max-width: 80%;
    display: flex;

}

.FullPost__container br {
    display: block;
    line-height: 50px;
}

.FullPost__container .sourceCode {
    background: #1d1d1d;
    border-radius: 10px;
    padding: 10px;
}


.FullPost__container code {
    background: #272822;
    border-radius: 4px;
    font-family: inherit;
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    color: white;
    font-size: 1.4rem;
    padding: 3px 7px;
}

.FullPost__container pre {
    background: #272822;
    padding: 10px;
    border-radius: 2px;
    color:#f3e5ab;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: normal;
    overflow: scroll;
    box-shadow: 1px 2px 5px grey;
    line-height: 19px;

} 

.FullPost__container .code {
    position: relative;
    padding: 20px;
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color:white;
    font-weight: 100;
    background: #272822;
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
}

.FullPost_header_container {
    position: relative;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:auto;
    z-index: 5;
}

.FullPost_header_inner_container {
    display: block;
    z-index: 10;
    background: none;
    background-image: linear-gradient(315deg, rgba(51, 51, 51, .5), rgba(254, 195, 3, .5));
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.FullPost_header_inner_container h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    font-size: 5rem;
    text-align: center;
    color: white;
    padding: 20px;
}


.FullPost__back_button {
    outline: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding-left: 0px;
    border: 0px;
}

.FullPost__back_button:last-child {
    margin-top: 20px;
}

.FullPost__back_button:hover {
    cursor: pointer;
    color: #fec303;
}

.FullPost__top_back_button_tags_container {
    display: flex; 
    align-items: center;
}

.code {
    border-top: 4px solid rgba(254, 195, 3, 1)
}

.code::after {
    content: '';
    position: absolute;
    top: 0;
    right: 20px;
    background: rgba(254, 195, 3, 1);
    padding: 5px 10px;
    border-radius: 0px 0px 5px 5px;
}

.code.html::after {
    content: 'html';
}

.code.css::after {
    content: 'css';
}

@media(max-width: 750px) {
    .FullPost__container {
        text-align: justify;
    }

    .FullPost__container {
        margin-bottom: 100px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0px;
    }

    .FullPost__top_back_button_tags_container {
        margin-top: 20px;
    }
    
}
